<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Import CSV</h3>
</div>
<form ng-submit="vm.submit()">
	<div class="modal-body" id="modal-body">
			<div class="form-group">
				<label for="csv_file">CSV File</label>
				<input type="file" 
					ngf-select 
					ng-model="vm.csv_file" 
					name="csv_file" 
					accept="application/vnd.ms-excel,.csv"
					ngf-max-size="2MB" 
					required="true">
			</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>