<div class="container">
	<h1>Object State Reconstruction</h1>
	<div uib-alert ng-if="vm.alert.show" ng-class="'alert-' + vm.alert.type" close="vm.closeAlert()" dismiss-on-timeout="{{vm.alert.timeout}}">{{vm.alert.msg}}</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Object States</h4>
		</div>
		<form ng-submit="vm.submit()">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="objectId">Object ID</label>
							<input type="text" class="form-control" id="objectId" ng-model="vm.form.id" required>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="objectType">Object Type</label>
							<input type="text" class="form-control" id="objectType" ng-model="vm.form.type" required>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="timestamp">Timestamp</label>
							<input type="text" class="form-control" id="timestamp" ng-model="vm.form.timestamp" required>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary" ng-click="vm.showImportCSVDlg()">Import CSV</button>
				<div class="pull-right">
					<button type="reset" class="btn btn-primary" ng-click="vm.result = null">Clear</button>
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
		</form>
	</div>
	<div class="panel panel-success" ng-if="vm.result">
		<div class="panel-heading">
			<h4>Results</h4>
		</div>
		<div class="panel-body">
			<p>{{ vm.result }}</p>
		</div>
	</div>

</div>